<div class='container bg mat-elevation-z8' fxLayout fxLayout.xs='column' fxLayout.sm='column' fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='10px'>
  <div class='item item-1' fxFlex='30%' fxLayoutAlign='center'>
    <span>Built by: {{ xInfo.first_name + ' ' + xInfo.middle_name.charAt(0) + '. ' + xInfo.last_name }}</span>
  </div>
  <div class='item item-2' fxFlex='30%' fxLayoutAlign='center'>
    <span>Portfolio Page</span>
  </div>
  <div class='item item-3' fxFlex='30%' fxLayoutAlign='center'>
    <span>Powered by: <a href='https://cli.angular.io/' target='_blank'><i class='fab fa-angular'></i>Angular CLI</a></span>
  </div>
</div>
